<div id="<%= dom_id sach %>">
  <p>
    <strong>Stt:</strong>
    <%= sach.stt %>
  </p>

  <p>
    <strong>Ma hs:</strong>
    <%= sach.ma_hs %>
  </p>

  <p>
    <strong>Ho va ten:</strong>
    <%= sach.ho_va_ten %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= sach.lop %>
  </p>

  <p>
    <strong>Ma sach:</strong>
    <%= sach.ma_sach %>
  </p>

  <p>
    <strong>Ten sach:</strong>
    <%= sach.ten_sach %>
  </p>

  <p>
    <strong>Ten tac gia:</strong>
    <%= sach.ten_tac_gia %>
  </p>

  <p>
    <strong>Tu sach:</strong>
    <%= sach.tu_sach %>
  </p>

  <p>
    <strong>So bm:</strong>
    <%= sach.so_bm %>
  </p>

  <p>
    <strong>Ngay muon:</strong>
    <%= sach.ngay_muon %>
  </p>

  <p>
    <strong>Ngay tra:</strong>
    <%= sach.ngay_tra %>
  </p>

  <p>
    <strong>So ngay:</strong>
    <%= sach.so_ngay %>
  </p>

  <p>
    <strong>Ghi chu:</strong>
    <%= sach.ghi_chu %>
  </p>

</div>
